<tr>
  <td><%= crypto_currency.name %></td>
  <td><%= crypto_currency.single_transaction_cost %></td>
  <td><%= crypto_currency.multisig_transaction_cost ? crypto_currency.multisig_transaction_cost : 'N/A'  %></td>
</tr>